/* Global Styles */
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-logo {
  height: 100px;
  margin-bottom: 24px;
  position: absolute;
  top: 24px;
  left: 24px;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0 0 0.5em 0;
}

button {
  font-family: inherit;
}